<!DOCTYPE html>
<html lang="en" ng-app="testTask">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>testTask AngularJS</title>
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="normalize.css">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <script src="lib/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="main.js"></script>
</head>

<body>
  <div class="body__main">

    <header class="header">
      <a ng-href="#" class="header__logo"></a>
      <div class="menu">
        <nav class="menu__navbar">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" ng-href="#">Home</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" ng-href="#">Products</a>
            </li>
            <a ng-href="#" class="menu__list-cart menu__list-item"></a>
          </ul>
          <div class="burger">
            <div class="menu-burger"></div>
          </div>
        </nav>
      </div>
    </header>

    <div class="home">
      <div class="home__container">
        <div class="home__container-title">Our clothing , your comfort</div>
        <div class="home__container-subtitle">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
          <p>magna aliqua.</p></div>
      </div>
      <div class="scroll__btn">
        <button id="scroll"><img ng-src="img/fa-chevron-down.png" alt="arrow-down" /></button>
      </div>
    </div>

    <div ng-controller="productsCtrl">
      <div class="check-body">
        <div class="check" id="check">
          <div class="check-points">
            <div class="check-point" ng-repeat="(key, val) in showCategory track by $index">
              <input type="checkbox" ng-model="showCategory[key]" id={{key}} class="custom-checkbox" />
              <label for="{{key}}" class="check-point__label"></label>
              <span class="check-point__name">{{key}}</span>
            </div>
          </div>
          <button class="check-point__button" ng-click="resetFilter()">see all products</button>
        </div>
      </div>
      <div class="products-body">
        <div class="products">
          <div class="products__card" ng-repeat="card in data.items |  myfilter:showCategory track by $index"
            ng-if="card.type !== 'Other'">
            <div class="products__card--select">
              <form>
                <div class="select" data-state="" ng-click="dropdown($index)">
                  <div class="select__title" data-default="{{card.options[0]}}">{{card.options[0]}}</div>
                  <div class="select__content">                  
                      <input id="{{ 'object-' + $parent.$id + $index}}" class="select__input" type="radio" name="singleSelect" ng-repeat="option in card.options track by $index"/>
                      <label for="{{ 'object-' + $parent.$id + $index}}" class="select__label"  ng-repeat="option in card.options track by $index">{{option}}</label>
                  </div>
                </div>
              </form>
            </div>
            <img ng-src="img/{{card.img}}.png" alt="pict">
            <div class="products__card--inner">
              <div class="products__card--name">
                <p>{{card.name}}</p>
                <!-- <p>{{card.type}}</p> -->
              </div>
              <div class="products__card--price">
                <p>{{card.price}} &euro;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer__top">
        <img ng-src="img/fa-twitter.svg" alt="logo twitter">
        <p class="footer__top--text">“ E-commerce psd theme available ”</p>
      </div>
      <div class="footer__bottom">
        <div class="footer__inner">
          <div class="footer__inner--title">
            Trekking
          </div>
          <div class="footer__inner--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </div>
        </div>
        <div class="footer__menu">
          <div class="footer__menu--menu">
            <div ng-controller="menuCtrl" class="footer__menu--list">
              <ul class="footer__menu--items">
                <li ng-repeat="item in data.footerMenu track by $index" class="footer__menu--item">
                  <a ng-href="{{item.link}}" title={{item.title}}>{{item.name}}</a>
                </li>
              </ul>
            </div>
            <p class="footer__menu--copyright">
              Design by gianluca cosetta
            </p>
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>

</html>